/*
&display=swap
&subset=cyrillic-ext
*/
/* @import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap"); */

/* -------------------- ОБНУЛЕНИЕ СТИЛЕЙ ----------------------- */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
	font-family: "Roboto", sans-serif;
	/* overflow-x: hidden; */
	background-color: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	/* padding: 20px; */
	display: flex;
	flex-direction: column;
}
/* --------------------// ОБНУЛЕНИЕ СТИЛЕЙ //----------------------- */

/*
COLORS_0 {
	color:#faed26
			#46344e
			#5a5560
			#9d8d8f
			#9b786f
}
COLORS_1 {
	color:#A64AC9
			#FCCD04
			#FFB48F
			#F5E6CC
			#17E9E0
}
*/

.header {
	background-color: #79aa45;
	padding: 15px;
}
.footer {
	background-color: #79aa45;
	padding: 15px;
}

.main {
	flex: 1 0 100%;
}

[class*="__container"] {
	max-width: 1020px;
	margin: 0px auto;
	padding: 0px 15px;
	box-sizing: content-box;
}

/* общие классы */
.titles {
}
.titles *:not(:last-child) {
	margin: 0px 0px 32px 0px;
}
.titles__logo {
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5d62b5;
	background: url("../img/icons/logo-title.svg") 0 -2px no-repeat;
	font-weight: 700;
	padding: 0px 0px 0px 33px;
}
.titles__logo_w {
	color: #fff;
	background: url("../img/icons/logo-title_w.svg") 0 -2px no-repeat;
}
.titles__item {
	font-size: 36px;
	line-height: 1.17;
	font-weight: 900;
}
.titles__item_w {
	color: #fff;
}
.item-title {
	font-size: 19px;
	line-height: 1.37;
	color: #f2726f;
	font-weight: 900;
}
.item-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
.button {
	/* вариант 1 - больше подходит для кнопок с иконками*/
	/* display: inline-flex; */
	/* min-height: 48px; */
	/* justify-content:center; */
	/* align-items: center; */
	/* text-align: center; */
	text-transform: uppercase;
	background-color: #f2726f;
	font-size: 12px;
	font-weight: 900;
	line-height: 2;
	color: #4b4b4b;
	letter-spacing: 0.15px;
	padding: 9px 22px; /* задаем высоту паддингами */
	border-radius: 8px;
	align-self: center;
	transition: all 0.2s ease-in-out;
}
.button:hover {
	color: #fff;
}

/* section promise */
.promise {
	padding: 110px 0px 122px 0px;
}
.promise__container {
}
.promise__header {
	margin: 0px 0px 68px 0px;
}
.promise__header *:not(:last-child) {
	margin: 0px 0px 33px 0px;
}
.promise__items {
	display: flex;
	margin: 0px -12px;
	flex-wrap: wrap;
	row-gap: 24px;
}
.promise__item {
	flex: 1 1 33.333%;
	padding: 0px 12px;
	min-width: 260px;
}
.item-promise {
	display: flex;
	align-items: flex-start;
	/* align-items: flex-start; */ /* если картинка не в коробочке */
	column-gap: 23px; /* можно не указывать для картинки в коробочке, тогда отступ включить в размер флекс-элемента */
}
.item-promise__icon {
	flex: 0 0 63px;
}
.item-promise__body {
	/* flex: 0 1 235px; */
}
.item-promise__body :not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.item-promise__title {
}
.item-promise__text {
}

/* service section */

.service {
	padding: 110px 0px 122px 0px;
	position: relative;
}
.service::before {
	content: "";
	background: url("../img/service_blob.png") left -494px no-repeat;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(208px, 0);
	width: 100%;
	height: 100%;
}
.service__container {
	display: flex;
	flex-direction: column;
	position: relative;
}
.service__header {
	margin: 0px 0px 78px 0px;
}
.service__header *:not(:last-child) {
	margin: 0px 0px 33px 0px;
}
.service__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	margin: 0px -12px;
	/* margin-bottom: 33px; */
}
.service__items:not(:last-child) {
	margin-bottom: 66px;
}
.service__item {
	flex: 1 1 33.333%;
	min-width: 300px;
	padding: 0px 12px;
}

.item-service {
}
.item-service__body:hover {
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
.item-service__body {
	display: flex;
	flex-direction: column;
	text-align: center;
	/* justify-content:center; */
	align-items: center;
	padding: 50px 43px;
	background-color: #fff;
	border-radius: 20px;
	height: 100%;
	transition: all 0.2s ease-in-out;
}
.item-service__img {
	flex: 0 0 63px;
	width: 63px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.item-service__img:not(:last-child) {
	margin: 0px 0px 33px 0px;
}
.service-image {
	max-width: 100%;
	max-height: 63px;
}
.item-service__title {
}
.item-service__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.item-service__text {
	flex: 1 0 auto;
}
.item-service__text {
	margin: 0px 0px 20px 0px;
}
.item-service__button {
}

/* impact section */

.impact {
	background-color: #29c3be;
	padding: 0px 0px 210px 0px;
}
.impact__container {
	position: relative;
}
.impact__container::before {
	content: "";
	position: absolute;
	top: 0;
	right: 00%;
	transform: translate(12%, 0px);
	width: 68%;
	height: 100%;
	background: url("../img/impact/decor.png") 0 0 / 100% no-repeat;
}
.impact__body {
	display: flex;
	/* justify-content: space-between; */
	margin: 0px -15px;
	align-items: flex-end;
	position: relative;
}
.impact__body:not(:last-child) {
	margin-bottom: 80px;
}
.impact__content {
	padding: 20px 15px 0px 15px;
	flex: 0 0 50%;
}
.impact__titles {
	max-width: 411px;
}
.impact__image {
	padding: 0px 15px;
	flex: 0 1 50%;
	align-self: flex-start;
	margin: -5.8% 0px 0px 0px;
}
.impact__image img {
	border-radius: 40px;
	width: 100%;
}

.impact__items {
	display: flex;
	margin: 0px -12px;
	flex-wrap: wrap;
	align-items: flex-start;
	row-gap: 24px;
	flex: 1 0 100%;
}
.impact__item {
	flex: 1 1 25%;
	padding: 0px 12px;
}
.item-impact {
	display: flex;
	column-gap: 11px;
}
.item-impact__icon {
	flex: 0 0 76px;
	align-self: flex-start;
}
.item-impact__body {
	align-self: center;
}
.item-impact__body:not(:last-child) {
	margin: 0px 0px 3px 0px;
}
.item-impact__title {
	font-size: 36px;
	line-height: 1.17;
	font-weight: 900;
	color: #fff;
}
.item-impact__text {
	line-height: 1.5;
	font-weight: 700;
	letter-spacing: 0.15px;
	color: #5d62b5;
}

.impact__footer {
}
.footer-impact {
	display: flex;
	justify-content: space-between;
	background-color: #5d62b5;
	border-radius: 20px;
	padding: 43px 70px;
	transform: translate(0px, -50%);
}
.footer-impact__text {
	font-size: 24px;
	line-height: 1.25;
	font-weight: 900;
	color: #fff;
	flex: 0 0 562px;
}
.footer-impact__button {
}

/* pup section */
.pup {
	display: flex;
	background-color: #29c3be;
	overflow: hidden;
}
.pup__left {
	background: url("../img/pup/сircles.svg") 0 50% no-repeat;
	flex: 0 0 50%;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
}
.pup__left::before {
	content: "";
	background: url("../img/pup/blob.png") 0 0 / 100% no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-5%, -50%);
	width: 48.5%;
	height: 379px;
}
.pup__left img {
	max-width: 100%;
	position: relative;
}
.pup__right {
	flex: 0 0 50%;
}
